@font-face {
    font-family: "TTLakes Meduim";
    font-style: normal;
    font-weight: 700;
    src: local("TTLakes"),
         url("fonts/TTLakes-Medium.woff") format("woff");
}
@font-face {
    font-family: "TTLakes Bold";
    font-style: normal;
    font-weight: 400;
    src: local("TTLakes"),
         url("fonts/TTLakes-Bold.woff") format("woff");
}
*{
 padding: 0;
    margin: 0;
}
/* Header ------------------------- */
.aside{
    display: flex;
    flex-direction: column;
    width:20rem;
    height: 100vh;
    position: fixed;
    background-color: #FFFFFF;
    left: 0;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    box-shadow:-0.01rem 0rem 0.3rem rgba(69, 79, 126, 0.02), 1rem 0rem 3rem rgba(14, 24, 80, 0.2);
}
.aside-header {
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.aside-menu{
    display: flex;
}
.button-icon{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    margin: 1.5rem 1rem 1.5rem 1rem;
    transition: all 0.75s ease;
}
.button-icon:hover{
    transform: scale(1.2);
    opacity: 0.75; 
}
.logo{
    align-self:center;
}
/* Nav ------------------------- */
.aside-nav {
    width: 100%;
    padding: 0;
    margin: 0;
    flex: 1 1 auto;
}
.aside-list{
    font-family:"TTLakes Meduim";
    font-size: 1rem;
    margin-top: 1rem;
}
.aside-list__item{
    padding: 1rem 1rem;
    transition: all 0.5s ease;    
}
.aside-list__item:hover{
    opacity: 0.75;
    transform: scale(1.1) translateX(0.8rem);
}
.aside-list__item--active{
    padding: 0.5rem 1rem 1rem 0;
    transition: all 0.5s ease;      
}
.aside-list__item--active:hover{
    opacity: 0.9;
    transform: scale(1.1) translateX(14px);
}
.aside-list__item--active::before{
    display:inline-block;
    vertical-align: middle;  
    content: '';
    width: 0.2rem;
    height: 2rem;
    margin-right: 0.8rem;
    background-color:#41F6D7;
    border-radius: 0 1rem 1rem 0;      
}
.link-nav{
    text-decoration: none;
    color:#1B1C21; 
}
.link-nav--active{
    text-decoration: none;
    color:#7E7E82;   
}
/* Footer ------------------------- */
.aside-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-self: flex-end;
}
.aside-footer__menu {
    display:flex;
    margin: 0;
    padding: 0;
}
.aside-button .button-icon{
    margin-right: 0;
}
.aside-footer__email {
    display:inline;
    font-family:"TTLakes Meduim";
    font-size: 1rem;
    margin-left: 1rem;
    text-decoration: none;
}
.aside-footer__contacts {
    display:inline;
    font-family:"TTLakes Bold";
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.aside-footer__langs {
    font-family:"TTLakes Meduim";
    font-size: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;  
}
.aside-footer__lang{
    color: black;
    text-decoration: none;
    padding-right: 0.5rem;
}
.aside-footer__lang--active{
    color: #7E7E82;
    text-decoration: none;
    padding-right: 0.5rem;
}
